{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock %}

{% block body %}

<div class="topnav" style="height: 1000px;">

    <form id="main-form" method="POST">
        <div>
            <table>

                {% for i in range(row_count) %}
                <tr>
                    <td>
                        <input type="text" id="word" name="word" placeholder="Word to search for">
                    </td>
                    <td>
                        <input type="text" id="sub" name="sub" placeholder="Optional: sub reddit">
                    </td> 


                    <!-- START DATE -->
                    <td>            
                        <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
                        <div class="custom-select" style="width:140px; height:26px;">
                            <select id="start-month" name="start-month">
                                <option value="">Start month:</option>
                                <option selected value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                                <option value="april">April</option>
                                <option value="may">May</option>
                                <option value="june">June</option>
                                <option value="july">July</option>
                                <option value="august">August</option>
                                <option value="september">September</option>
                                <option value="october">October</option>
                                <option value="november">November</option>
                                <option value="december">December</option>
                            </select>
                        </div>
                
                    </td>

                    <td>
                        <input type="number" id="start-day" name="start-day" min="1" max="31" value="1" placeholder="Day" style="width:50px">
                    </td>
                    <td>
                        <input type="number" id="start-year" name="start-year" placeholder="Year" min="2016" max="2020" value="2016">
                    </td>

                    <td>
                        <h1 style="margin: 0;">-</h1>
                    </td>

                    <!-- END DATE -->

                    <td>            
                        <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
                        <div class="custom-select" style="width:140px; height:26px;">
                            <select id="end-month" name="end-month">
                                <option value="">Emd month:</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option selected value="march">March</option>
                                <option value="april">April</option>
                                <option value="may">May</option>
                                <option value="june">June</option>
                                <option value="july">July</option>
                                <option value="august">August</option>
                                <option value="september">September</option>
                                <option value="october">October</option>
                                <option value="november">November</option>
                                <option value="december">December</option>
                            </select>
                        </div>
                
                    </td>
                      
                    <td>
                        <input type="number" id="end-day" name="end-day" min="1" max="31" value="1" placeholder="Day" style="width:50px">
                    </td>
                    <td>
                        <input type="number" id="end-year" name="end-year" placeholder="Year" min="2016" max="2020" value="2020">
                    </td>
                    {% if i == row_count-1 %}

                    <td>
                        <button id="add-row" name="add-row" type="submit" onclick="onSubmit('add-row')">+</button>
                    </td>
                    
                    {% if i != 0 %}
                    <td>
                        <button id="rm-row" name="rm-row" type="submit" onclick="onSubmit('rm-row')">-</button>
                    </td>
                    {% endif %}

                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <button name="clear" type="submit" onclick="onSubmit('clear')">Clear</button>
                    </td>
                </tr>
            </table>
        </div>
    
        <p> {{ data }} </p>

    </form>


</div>


<script>

function onSubmit(type) {
    var form = document.getElementById("main-form");
    var input = document.createElement("input");
    input.setAttribute('name', 'submit-type');
    input.setAttribute('type', 'hidden');
    input.setAttribute('value', type);
    form.appendChild(input);
    form.submit();
}


</script>

<!-- custom select stuff -->
<script>
    var x, i, j, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    for (i = 0; i < x.length; i++) {
      selElmnt = x[i].getElementsByTagName("select")[0];
      /*for each element, create a new DIV that will act as the selected item:*/
      a = document.createElement("DIV");
      a.setAttribute("class", "select-selected");
      a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
      x[i].appendChild(a);
      /*for each element, create a new DIV that will contain the option list:*/
      b = document.createElement("DIV");
      b.setAttribute("class", "select-items select-hide");
      for (j = 1; j < selElmnt.length; j++) {
        /*for each option in the original select element,
        create a new DIV that will act as an option item:*/
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
            /*when an item is clicked, update the original select box,
            and the selected item:*/
            var y, i, k, s, h;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            h = this.parentNode.previousSibling;
            for (i = 0; i < s.length; i++) {
              if (s.options[i].innerHTML == this.innerHTML) {
                s.selectedIndex = i;
                h.innerHTML = this.innerHTML;
                y = this.parentNode.getElementsByClassName("same-as-selected");
                for (k = 0; k < y.length; k++) {
                  y[k].removeAttribute("class");
                }
                this.setAttribute("class", "same-as-selected");
                break;
              }
            }
            h.click();
        });
        b.appendChild(c);
      }
      x[i].appendChild(b);
      a.addEventListener("click", function(e) {
          /*when the select box is clicked, close any other select boxes,
          and open/close the current select box:*/
          e.stopPropagation();
          closeAllSelect(this);
          this.nextSibling.classList.toggle("select-hide");
          this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
      /*a function that will close all select boxes in the document,
      except the current select box:*/
      var x, y, i, arrNo = [];
      x = document.getElementsByClassName("select-items");
      y = document.getElementsByClassName("select-selected");
      for (i = 0; i < y.length; i++) {
        if (elmnt == y[i]) {
          arrNo.push(i)
        } else {
          y[i].classList.remove("select-arrow-active");
        }
      }
      for (i = 0; i < x.length; i++) {
        if (arrNo.indexOf(i)) {
          x[i].classList.add("select-hide");
        }
      }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
    </script>



{% endblock %}